doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block css
            link(rel='stylesheet', href='/css/bootstrap.min.css')
            link(rel='stylesheet', href='/css/layout.css')
    body
        nav.navbar.navbar-fixed-top
            block header
                //- img(src='/img/ads-top.png')

        .site-wrapper
            .site-wrapper-inner
                .content-wrapper
                    block content

        nav.navbar.navbar-fixed-bottom
            block footer
                p
                    | Powered by&nbsp;
                    a(href='#') Ace Technology Solutions Sdn. Bhd.

        block script
            script(src='/js/bootstrap.min.js')
